<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>



<body>
  <div class='main-content'>
    {{>header}}
    <p>
      This site is created by {{name}}. It uses a combination of MapSky and DarkSky APIs to deliver real time weather forecasts!
    </p>
    <img class="portrait" src='./images/brunette_2.jpg'>
    <p>{{title}}</p>
  </div>
  {{>footer}}
</body>


</html>
